// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$theme-grey-color: #8a9ba8;
$theme-light-grey: #e5e7ec;
$theme-white-color: #ffffff;
$theme-highlight-color: linear-gradient(180deg, #fff3e040 0%, #ffe08280 100%);
//linear-gradient(180deg, #FFF3E0 0%, #FFE082 100%);
$black: #000;

